.resumePreview {
  height: 1200px;
  width: 852PX;
  font-family: "Coolvetica";

  .resumePreviewOuter {
    height:  95%;
    border: 1px solid black;
    min-width: 645px;

    .resumePreviewInner {
      height:  90%;
      border: 1px solid red;
      min-width: 640px;
      display: flex;
      justify-content: flex-start;
    }

    .buttonGroup{
      height: 10%;
    }
  }
}

.resumePreivew-fixed {
  position: absolute;
  top: 0;
  right: 0
}

