.skills {
  .skills-list {
    border-top: 2px solid #55555588;
    border-bottom: 2px solid #55555588;

    div {
      display: flex;
      justify-content: flex-start;
      column-gap: 5px;
      
      input {
        flex: 0 0 95%;
      }
    }
  }
}