@font-face {
  font-family: "Coolvetica";
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format(woff2);
}

@font-face {
  font-family: "Helvetica";
  src: url('./assets/fonts/helvetica-neu.ttf') format(ttf);
}

@font-face {
  font-family: "Source Code Pro";
  src: url('./assets/fonts/SourceCodePro-Regular.ttf') format(ttf);
}