.resume-content {
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 20px;
  width: 72%;

  .profile,
  .employmentHistory,
  .education,
  .personal-projects {
    width: 100%;
    padding: 0;
    margin-top: 30px;

    p {
      width: 95%;
    }
  }


  .employmentHistory {
    .job-details {
      font-family:'Lucida Sans Unicode', sans-serif;
      font-size: 14px;
      font-weight: 600;
    }

    .job-duration {
      font-family:'Lucida Sans Unicode', sans-serif;
      font-size: 10px;
      color: #8b8b8b;
      padding: 0;
      margin: 0;
      margin-bottom: 4px;
      letter-spacing: 0.8px;
    }
  }

  .education {
    .education-details {
      font-family:'Lucida Sans Unicode', sans-serif;
      font-size: 14px;
      font-weight: 600;
    }

    .education-duration {
      font-family:'Lucida Sans Unicode', sans-serif;
      font-size: 10px;
      color: #8b8b8b;
      padding: 0;
      margin: 0;
      margin-bottom: 4px;
      letter-spacing: 0.8px;
    }
  }

  .personal-projects {

    .project {
      width: 100%;
      padding-left:7px;
      position: relative;
      margin: 15px 0px;

      .project-border{
        position: absolute;
        left: -4px;
        top: 5%;
        border-left: 2px solid #20b920;;
        height: 90%;
      }

      .project-title {
        font-family:'Lucida Sans Unicode', sans-serif;
        font-size: 14px;
        font-weight: 600;

        a {
          margin-left: 3px;
          color: #20b920;
          cursor:pointer;
        }
      }

      .github-link {
        font-family: 'Helvetica';
        font-size: 13px;
      }

      .description {
        p{
          margin-bottom: 2px;
          margin-top: 4px;
          width: 95%;
        }
      }

      .additional-info {
        margin-top: 0px;
        font-family: 'Lucida Sans Unicode', sans-serif;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        color: #8b8b8b;
      }
    }
  }


  h2{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-family:  'Noto Serif Makasar', serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;

  }

  p {
    width: 100%;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
    overflow-wrap: break-word;
  }
}